<nav class="row wide">
    <div class="left">
        <img src="../images/text_logo_mini.png">
    </div>
    <div class="right top-align">
        <% if(!isauth) { %>
            <div class="button_top inline-block right-align">
            <br />
                <a href="auth/facebook">Log in</a>
            </div>
        <% } else { %>
         <div class="button_top inline-block right-align">
                <p><%= user.name %></p>
                <a href="/logout">Log out</a>
            </div>
        <% } %>

        <img src="<%= !isauth ? '../images/user_prof.png' : 'http://graph.facebook.com/v2.1/'+user.uid+'/picture?type=normal' %>" class="round-image" />
    </div>
</nav>
