<nav>
	<div class="left">
		<img class="logo_top" src="../images/logo_mini.png">
	</div>
	<div class="right">
		<div class="prof_top">
			<% if(!session.authenticated) { %>
				<div class="button_top">
					<a href="auth/facebook">Log in</a>
				</div>
			<% } else { %>
				<p>My Account</p>
			<% } %>
		</div>
		<img class="prof_top" src="../images/user_prof.png">
	</div>
</nav>
