
<section class="about_main">

<div class="row">
  <div class="small-12 columns">
    <div class="center"
      <div id="container">
          <img id="image" src="../images/about_bg.png"/>
          <p id="text">
              Welome to agentada - the first service that creates custom agendas
              based on the collective interests of your group!

              <br /> <br />
              Log in with Facebook to generate your next agenda!
          </p>
          <div class="button">
            <p> Log in with Facebook</p>
          </div>
      </div>
    </div>
  </div>
</div>

</section>
