<div class="row wide tall" ng-controller="ItineraryController" ng-init="init()">
    <div class="small-3 itinerary-column">

        <div class="column-title">
            <div class="left">
                Itineraries
            </div>
            <div class="right">
                <a href="create">+</a>
            </div>
        </div>

        <div class="column-body">
            <ol>
                <li ng-repeat="itinerary in itineraries"><p class="title">{{itinerary.title}}</p><p class="dates">{{itinerary.days[0].date}} - {{itinerary.days[itinerary.days.length-1].date}}</p></li>
            </ol>
        </div>

    </div>



    <div class="small-6 itinerary-column">

        <div class="column-title">
            {{currentItinerary.title}}
        </div>

        <div class="column-body">
            <ol>
                <li ng-repeat="event in events"><p class="title">{{event.title}}</p><p class="dates">Date &amp; Time: {{event.day.date}}</p><p class="time">Type: {{type}}</p></li>
            </ol>
        </div>

    </div>



    <div class="small-3 itinerary-column">

        <div class="column-title">
            Properties
        </div>

        <div class="column-body">

            <div class="agentada-panel">
                <div class="title content">
                    Who
                </div>
                <div class="body content">
                    <ul class="small-block-grid-5">
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    What
                </div>
                <div class="body content">
                    <ul class="small-block-grid-3">
                        <li><button class="expand tiny rounded">Streaking</button></li>
                        <li><button class="expand tiny rounded">Hiking</button></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Where
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    When
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Options
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Share
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Map
                </div>
                <div class="body content">
                </div>
            </div>
        </div>
    </div>
</div>
