<div class="row wide tall">
    <div class="small-3 itinerary-column">

        <div class="column-title">
            <div class="left">
                Itineraries
            </div>
            <div class="right">
                +
            </div>
        </div>

        <div class="column-body">
            <ol>
                <li class="active"><p class="title">Itinerary 1</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
                <li><p class="title">Streaks dude...</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
                <li><p class="title">...Streaks</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
            </ol>
        </div>

    </div>



    <div class="small-6 itinerary-column">

        <div class="column-title">
            Itinerary 1
        </div>

        <div class="column-body">
            <ol>
                <li><p class="title">Event 1</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">9:30am</p></li>
                <li><p class="title">Event 2</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">10:30am</p></li>
                <li><p class="title">Seriously tho, streaks.</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">9:30pm</p></li>
            </ol>
        </div>

    </div>



    <div class="small-3 itinerary-column">

        <div class="column-title">
            Properties
        </div>

        <div class="column-body">

            <div class="agentada-panel">
                <div class="title content">
                    Who
                </div>
                <div class="body content">
                    <ul class="small-block-grid-5">
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    What
                </div>
                <div class="body content">
                    <ul class="small-block-grid-3">
                        <li><button class="expand tiny rounded">Streaking</button></li>
                        <li><button class="expand tiny rounded">Hiking</button></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Where
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    When
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Options
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Share
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    Map
                </div>
                <div class="body content">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
