<div class="row wide tall" ng-controller="ItineraryController" ng-init="init()">
    <div class="small-3 itinerary-column">

        <div class="column-title">
            <div class="left">
                Itineraries
            </div>
            <div class="right">
                <a class="button_add" href="/create">add +</a>
            </div>
        </div>

        <div class="column-body-side" >
            <ol>
                <li ng-repeat="itinerary in itineraries" class="multiList"><p class="title">{{itinerary.title}}</p><p class="dates">{{itinerary.days[0].date}} - {{itinerary.days[itinerary.days.length-1].date}}</p></li>
            </ol>
        </div>

    </div>


    <div class="small-6 itinerary-column" style="background-color:#1d70b4">

        <div class="column-title">
            {{currentItinerary.title}}
        </div>

        <div class="column-body" >
            <ol>
                <li ng-repeat="event in events" class="itineraryList"><p class="title">{{event.title}}</p><p class="dates">Date &amp; Time: {{event.createdAt}}</p><p class="time">Type: {{event.type}}</p></li>
            </ol>
        </div>

    </div>



    <div class="small-3 itinerary-column">

        <div class="column-title">
            agenda overview
        </div>

        <div class="column-body-side">

            <div class="agentada-panel">
                <div class="title content">
                    who
                </div>
                <div class="body content">
                    <ul class="small-block-grid-3">
                        <li><a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p100x100/10478155_10204240270072492_404366977784193901_n.jpg?oh=0f8c85f334868610cd20e229b5653544&oe=54BF6450&__gda__=1418192700_316f151b884f1cbbe3e4412e5dc8a83b" class="round-image"/></a></li>
                        <li><a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/s100x100/10636208_10152267670542016_7318983374927864342_n.jpg?oh=f8816bd3601d699605902e6771d3d613&oe=54BE80EB&__gda__=1422232382_005d770cdc68a6c5dd20b339f925f0f2" class="round-image"/></a></li>
                        <li><a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/s100x100/1157734_673768919318213_428454518_n.jpg?oh=cd1d5cdac39673fd3e85dc7f67a81f29&oe=548D305F&__gda__=1421822088_dd5df218c2212938197ac1ec801ac2c9" class="round-image"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    what
                </div>
                <div class="body content">
                    <ul class="small-block-grid-2">
                        <li><button class="expand tiny rounded tag">Coding</button></li>
                        <li><button class="expand tiny rounded tag">Hiking</button></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    where
                </div>
                <div class="body content">
                    <p>Start:</p>
                    <p>End:</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                   when
                </div>
                <div class="body content">
                    <p>Start:</p>
                    <p>End:</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    options
                </div>
                <div class="body content">
                    <p>Coming soon!</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    share
                </div>
                <div class="body content">
                    <p>Coming soon!</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    map
                </div>
                <div class="body content">
                    <p>Coming soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>
