<div class="row wide">
  <div class="small-3 columns">
    <div class="agentada-panel">
        <div class="title content">
            Who
        </div>
        <div class="body content">
            
        </div>
    </div>
    <div class="agentada-panel">
        <div class="title content">
            What
        </div>
        <div class="body content">
        </div>
    </div>
    <div class="agentada-panel">
        <div class="title content">
            Where
        </div>
        <div class="body content">
        </div>
    </div>
    <div class="agentada-panel">
        <div class="title content">
            When
        </div>
        <div class="body content">
        </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="agentada-panel">
        <div class="title content">
            Itinerary
        </div>
        <div class="body content">
        </div>
    </div>
  </div>
  <div class="small-3 columns">
    <div class="agentada-panel">
        <div class="title content">
            Options
        </div>
        <div class="body content">
        </div>
    </div>
    <div class="agentada-panel">
        <div class="title content">
            Share
        </div>
        <div class="body content">
        </div>
    </div>
    <div class="agentada-panel">
        <div class="title content">
            Map
        </div>
        <div class="body content">
        </div>
    </div>
  </div>
</div>
