<div class="row wide tall">
    <div class="small-3 itinerary-column" >

        <div class="column-title">
            <div class="left">
                Itineraries
            </div>
            <div class="right">
                <button class="button_add">add +</button>
            </div>
        </div>

        <div class="column-body-side" >
            <ol>
                <li class="active"><p class="title">Itinerary 1</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
                <li class="multiList"><p class="title">Streaks dude...</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
                <li class="multiList"><p class="title">...Streaks</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p></li>
            </ol>
        </div>

    </div>


    <div class="small-6 itinerary-column" >

        <div class="column-title" style="background-color:#1d70b4">
            Itinerary 1
        </div>

        <div class="column-body" >
            <ol>
                <li class="itineraryList"><p class="title">Event 1</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">9:30am</p></li>
                <li class="itineraryList"><p class="title">Event 2</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">10:30am</p></li>
                <li class="itineraryList"><p class="title">Seriously tho, streaks.</p><p class="start-date">10/23/14</p><p class="end-date">10/25/14</p><p class="time">9:30pm</p></li>
            </ol>
        </div>

    </div>



    <div class="small-3 itinerary-column">

        <div class="column-title" ">
            agenda overview
        </div>

        <div class="column-body-side">

            <div class="agentada-panel">
                <div class="title content">
                    who
                </div>
                <div class="body content">
                    <ul class="small-block-grid-5">
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                        <li><a href="#"><img src="http://i.imgur.com/3R2McZq.jpg" class="round-image"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    what
                </div>
                <div class="body content">
                    <ul class="small-block-grid-3">
                        <li><button class="expand tiny rounded tag">Streaking</button></li>
                        <li><button class="expand tiny rounded tag">Hiking</button></li>
                    </ul>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    where
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                   when
                </div>
                <div class="body content">
                    <p>Start</p>
                    <p>End</p>
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    options
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    share
                </div>
                <div class="body content">
                </div>
            </div>
            <div class="agentada-panel">
                <div class="title content">
                    map
                </div>
                <div class="body content">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('#itineraryList li:nth-child(odd)').addClass('alternate');
  });
</script>
