<div class="row">
  <div class="small-12 columns">
    <div class="center"
      <div id="container">
          <img id="image" src="../images/create_bg.png"/>
          <form class="create">
            <div style="float:left;margin-right:20px;">
              <label for="users">who</label>
              <input type="text" name="users" class="create_form" style="width: 290px;">
            </div>
            <div style="float:left;">
                <label for="title">what</label>
                <input type="text" name="title" class="create_form" style="width: 290px;">
            </div>
            <br />
            <div style="float:left;">
                <label for="where">where</label>
                <input type="text" name="where" class="create_form_lg">
            </div>
            <div style="float:left;margin-right:20px;">
              <label for="startDate">when</label>
              <input type="text" name="startDate" class="create_form" style="width: 272px;">
            </div>
            <div style="float:left;">
                <label for="endDate"> &nbsp; </label>
                to  &nbsp; &nbsp; <input type="text" name="endDate"
                class="create_form" style="width: 272px;">
            </div>

            <input type="submit" value="Create my Agenda" class="button button_create">

          </form>
          <a href="..\" class="button button_saved">View Saved Agendas</a>
      </div>
    </div>
  </div>
</div>
