/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
.round-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 4px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.round-image-top {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: right;
  position: relative;
  border: 4px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
html,
body {
  text-align: left;
  font-size: 1em;
  background: #BAE3F8;
}
html,
img,
form,
textarea,
input,
fieldset,
div,
p,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 100px;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  font-weight: normal;
  font-family: inherit;
}
*:active,
*:focus {
  outline: 0;
  -moz-outline-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
div.clear {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.top-bar {
  width: 100%;
  background-color: #e4f0f1;
  padding: 15px 0;
}
.top-bar .container img {
  float: left;
}
.top-bar .container ul {
  float: right;
  padding-top: 25px;
}
.top-bar .container li {
  float: left;
  width: 125px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.top-bar .container a li:hover {
  color: #118798;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
div.header {
  -webkit-transition: 6s;
  -moz-transition: 6s;
  -o-transition: 6s;
  transition: 6s;
  background: rgba(4, 36, 41, 0.89) url(http://sailsjs.org/images/img_sailsShadow.png) no-repeat 42% bottom;
  padding: 100px 0 65px;
}
.header h1#main-title {
  color: #fff;
  font-weight: 300;
  font-size: 2.5em;
}
.header h3 {
  color: #b1eef7;
  font-style: italic;
  font-weight: 300;
}
.header h3 code {
  font-style: normal !important;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  color: #0e6471;
  margin: 0px 5px;
}
div.main.container {
  padding: 50px 0;
}
h1 {
  color: #118798;
  font-weight: 300;
}
code {
  font-size: inherit;
  font-family: 'Consolas', 'Monaco', monospace;
  padding: 4px 5px 1px;
  background-color: #f3f5f7;
}
a {
  color: #118798;
  font-weight: 300;
  text-decoration: underline;
}
a:hover {
  color: #0e6471;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
p {
  line-height: 1.5em;
}
blockquote {
  background-color: #e4f0f1;
  padding: 25px;
  line-height: 1.5em;
  margin: 15px 0;
}
blockquote span {
  font-weight: 600;
  padding-right: 5px;
}
.content2 {
  padding: 25px 75px 25px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.getting-started li {
  padding: 25px 0;
}
ul.getting-started li h3 {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}
.sprite {
  background: url(http://sailsjs.org/images/newapp.sprite.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.getting-started .sprite {
  margin-left: 10px;
  padding-left: 60px;
  height: 42px;
  width: 0;
  float: left;
}
.getting-started .one {
  background-position: 0 0;
}
.getting-started .two {
  background-position: 0 -42px;
}
.getting-started .three {
  background-position: 0 -83px;
}
div.step {
  position: relative;
  padding-left: 70px;
  opacity: 0.9;
}
div.step:hover {
  opacity: 1;
}
div.links {
  float: left;
  width: 30%;
  max-width: 325px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f3f5f7;
  border: 5px solid #fff;
  padding: 25px 45px 35px;
}
div.links h3 {
  color: #727272;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}
div.links h4 {
  color: #727272;
  font-size: 17px;
  font-weight: 600;
  padding: 15px 0 10px;
}
div.links .link-list a {
  text-decoration: none;
  font-weight: 400;
}
div.links .link-list a li {
  padding: 0px 0px 5px 10px;
}
div.default-page {
  min-width: 1200px;
}
.pocket {
  display: none;
}
.btn {
  display: inline-block;
  background: #001c20;
  color: #fff;
  border-radius: .3em;
  padding: .6em 1.2em;
  line-height: 1.2;
  border-radius: 6px;
  margin: 1em .1em;
  text-decoration: none;
}
img.logo_big {
  margin-left: auto;
  margin-right: auto;
  height: 710px;
  width: 1020px;
}
div.center {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 1500px;
  text-align: center;
  position: relative;
}
#container {
  height: 500px;
  width: 700px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: #216BA6;
  font-size: 18px;
  top: 200px;
  margin: 0 70px 0 70px;
}
#create {
  z-index: 100;
  position: absolute;
  color: #216BA6;
  font-size: 18px;
  top: 200px;
}
.button {
  display: inline-block;
  top: 350px;
  width: 300px;
  background-color: #298BDA;
  border-radius: 25px;
}
.button a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.button_create {
  display: inline-block;
  padding: 10px;
  position: relative;
  top: 380px;
  width: 610px;
  background-color: #298BDA;
  border-radius: 10px;
  margin: 8px 0 8px 0;
}
.button_create a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.button_top p,
a {
  color: #ffffff;
  top: 12px;
  right: 10px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
.button_top a:hover {
  color: #298BDA;
}
form.create {
  position: absolute;
  text-align: left;
  top: 180px;
  left: 50px;
  display: block;
}
input.create_form {
  display: inline-block;
}
input.create_form_lg {
  display: inline-block;
  width: 600px;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100px;
  padding: 20px;
}
nav img {
  display: inline-block;
  height: 60px;
}
.middle-align {
  vertical-align: middle;
}
.right-align {
  text-align: right;
}
.wide {
  width: 100%;
  max-width: 100%;
}
.tall {
  height: 100%;
}
.column-title {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 24px;
  line-height: 40px;
  vertical-align: middle;
  background-color: #777;
  color: #fff;
  overflow: hidden;
  word-wrap: breakword;
}
.itinerary-column {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  max-height: 100%;
  background-color: #fff;
}
.itinerary-column:nth-child(3) {
  border: none;
}
.itinerary-column .column-title {
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 40px;
  vertical-align: middle;
  background-color: #1a5585;
  color: #fff;
  overflow: hidden;
  word-wrap: breakword;
  z-index: 5;
}
.itinerary-column .secondary-title {
  display: block;
  width: 100%;
  height: 24px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  background-color: #888;
  color: #fff;
  overflow: hidden;
  word-wrap: breakword;
}
.itinerary-column .column-body,
.itinerary-column .column-body-side {
  position: relative;
  padding-top: 40px;
  display: block;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.itinerary-column .column-body ol li,
.itinerary-column .column-body-side ol li {
  display: block;
  width: 100%;
  padding: 5px;
}
.itinerary-column .column-body ol li:hover,
.itinerary-column .column-body-side ol li:hover {
  background-color: #fff;
  cursor: pointer;
}
.itinerary-column .column-body ol li.active,
.itinerary-column .column-body-side ol li.active {
  background-color: #3475b2;
  border-radius: 3px;
  color: #fff;
  font-weight: 900;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.itinerary-column .column-body ol li.active:hover,
.itinerary-column .column-body-side ol li.active:hover {
  background-color: #3475b2;
  cursor: default;
}
li.itineraryList:nth-child(even) {
  background-color: #f6fbff;
}
li.itineraryList:nth-child(odd) {
  background-color: #ecf5fd;
}
li.multiList:nth-child(even) {
  background-color: #bedbf7;
  border-radius: 3px;
}
li.multiList:nth-child(odd) {
  background-color: #9bc7f0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 19px 37px -2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 19px 37px -2px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 19px 37px -2px rgba(0, 0, 0, 0.28);
}
.column-body-side {
  background-color: #1a5585;
  padding-right: 0px;
}
.column-body {
  padding: 10px;
  -webkit-box-shadow: -41px -6px 63px -23px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -41px -6px 63px -23px rgba(0, 0, 0, 0.34);
  box-shadow: -41px -6px 63px -23px rgba(0, 0, 0, 0.34);
}
.agentada-panel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}
.agentada-panel .title {
  color: #fff;
  background-color: #216BA6;
}
.agentada-panel .body {
  background-color: #fff;
}
.agentada-panel .content {
  width: 100%;
  float: none;
  padding: 5px 10px;
}
.tag {
  background-color: #92D4F5;
  border-radius: 10px;
  color: #fff;
  padding: 2px;
  font-weight: 800;
}
.button_add {
  background-color: #92d4f5;
  height: 10px;
  width: 20px;
  font-size: 18px;
  position: relative;
  top: 0px;
  padding: 20px 15px 20px 15px;
}
